[Unit]
Description=KotlinAgent
After=network.target

[Service]
User=agent
Group=agent
WorkingDirectory=/home/agent/KotlinAgent
EnvironmentFile=/home/agent/KotlinAgent/.env

Environment=JAVA_OPTS="-Xmx512m"
ExecStart=/usr/bin/java -jar /home/agent/KotlinAgent/remoteAgentServer/build/libs/remoteAgentServer.jar
Restart=always
RestartSec=5

# Логирование
StandardOutput=journal
StandardError=journal
SyslogIdentifier=kotlinagent

[Install]
WantedBy=multi-user.target